
secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt
  ftp_password:
    file: ../secrets/ftp_password.txt


services:
  nginx:
    build:
      context: ./requirements/
      dockerfile: ./nginx/Dockerfile
      args:
        DOMAIN_NAME: ${DOMAIN_NAME}
    container_name: nginx
    volumes:
      - wordpress_data:/var/www/html:ro
    networks:
      - inception
    ports:
      - "443:443"
    depends_on:
      - wordpress
    restart: unless-stopped

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    environment:
      DOMAIN_NAME: ${DOMAIN_NAME}
      WORDPRESS_DB_HOST: mariadb
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_NAME: ${DB_DATABASE}
      WORDPRESS_TITLE: ${WP_TITLE}
      WORDPRESS_ADMIN_USER: ${WP_ADMIN_USER}
      WORDPRESS_ADMIN_EMAIL: ${WP_ADMIN_EMAIL}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
    secrets:
      - db_password
      - wp_admin_password
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    depends_on:
      mariadb:
        condition: service_healthy
      redis:
        condition: service_started
    restart: unless-stopped

  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    environment:
      MARIADB_DATABASE: ${DB_DATABASE}
      MARIADB_USER: ${DB_USER}
    secrets:
      - db_root_password
      - db_password
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception
    healthcheck:
      test: ["CMD", "sh", "-c", "mariadb-admin ping --silent -p$$(cat /run/secrets/db_root_password)"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

#######################################################################################################

  redis:
    build: ./requirements/bonus/redis
    container_name: redis
    volumes:
      - redis_data:/data
    networks:
      - inception
    restart: unless-stopped

  ftp:
    build:
      context: ./requirements/bonus/ftp
    # Pass the FTP credentials from the .env file to the Dockerfile at build time.
      args:
        FTP_USER: ${FTP_USER}
    container_name: ftp
    environment:
      FTP_USER: ${FTP_USER}
    secrets:
      - ftp_password
    volumes:
      - wordpress_data:/var/www/html
    networks:
    - inception
    ports:
    - "21:21"
    - "21100-21110:21100-21110" # Map the passive port range to the host.
  # THIS IS THE CRITICAL PART.
  # Mount the SAME named volume that WordPress uses.
  # This gives the FTP server access to the web files.
    restart: unless-stopped

  adminer:
    build: ./requirements/bonus/adminer
    container_name: adminer
    # Connect it to the same network so it can find the 'mariadb' service.
    # Publish its port so you can access it from your browser.
    # Map host port 8080 to the container's port 8080.
    networks:
      - inception
    depends_on:
      - mariadb
    restart: unless-stopped

  portainer:
    build: ./requirements/bonus/portainer
    container_name: portainer
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      # A named volume for Portainer's own configuration data to be persistent.
      - portainer_data:/data
    networks:
      - inception
    restart: unless-stopped



volumes:
  mariadb_data:
    name: mariadb_volume 
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: "/home/${USER}/data/mariadb"

  wordpress_data:
    name: wordpress_volume
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: "/home/${USER}/data/wordpress"

  redis_data:
    name : redis_volume

  portainer_data: 
    name: portainer_volume



networks:
  inception:
    name: Inception_network

