services:
  nginx:
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
      args:
        DOMAIN_NAME: ${DOMAIN_NAME}
    image: nginx-image:v1
    container_name: nginx
    networks:
      - inception
    ports:
      - "443:443"
    volumes: 
      - WordPress_volume:/var/www/html:ro
    depends_on:
      - wordpress
    restart: unless-stopped

  wordpress:
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    image: wordpress-image:v1
    container_name: wp-php
    networks:
      - inception
    volumes: 
      - WordPress_volume:/var/www/html
    depends_on:
      mariadb:
        condition: service_healthy
    environment:
      WORDPRESS_DB_HOST: mariadb
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_NAME: ${DB_DATABASE}
    secrets:
      - db_password
      - credentials
    restart: unless-stopped

  mariadb:
    build: 
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    image: mariadb-image:v1
    container_name: mariadb
    networks:
      - inception
    ports:
      - "3306:3306"
    volumes:
      - DB_volume:/var/lib/mysql
    environment:
       MARIADB_DATABASE: ${DB_DATABASE}
       MARIADB_USER: ${DB_USER}
    secrets:
      - db_password
      - db_root_password
      - credentials
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "--silent", "-p$$(cat /run/secrets/db_root_password)"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s
    restart: unless-stopped

volumes:
  DB_volume:
    name: mariadb_volume
  WordPress_volume:
    name: wordpress_volume

networks:
  inception:
    name: inception_network

secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt
  credentials:
    file: ../secrets/credentials.txt
  

